<div class="container">

    <div class="col-sm-12" style="text-align: center">
      <img src="assets/logo.jpg">
    </div>
    <div>
      <div class="col-sm-12"  style="text-align: center">

        <div> I need a gift for my   
          <mat-form-field appearance="fill">
            <mat-label>Recipient</mat-label>
            <mat-select>
              <mat-option *ngFor="let recipient of recipients" [value]="recipient.value">
                {{recipient.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>.
        </div>
      </div>

    <div class="col-sm-12" style="text-align: center">
      <a mat-flat-button color="warn" routerLink="/gifts-view" routerLinkActive="active">Find Gifts</a>
      <!--<a class="btn btn-primary" role="button">Random</a>-->
    </div>
<div class="col-sm-12"  style="text-align: center; color: white;">te</div>   

    <div class="col-sm-12">

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="col-sm-12"  style="text-align: center">Additional Options</div>
        
      </mat-panel-title>
    </mat-expansion-panel-header>
      <section class="example-section">
        <ul style="list-style-type: none;">
          <li><mat-checkbox class="example-margin">Joke</mat-checkbox></li>
          <li><mat-checkbox class="example-margin">Alcohol Related</mat-checkbox></li>
          <li><mat-checkbox class="example-margin">Geeky</mat-checkbox></li>
        </ul>
        
      </section>
  </mat-expansion-panel>
</mat-accordion>


    </div>


  </div>
</div>